<div class="cookie-banner" style="display: none">
    <div class="d-flex align-items-center justify-content-between">
        <p class="">{{ globals.cookieDisclaimer }} <a href="{{ globals.cookieUrl }}" class="">More info</a>.</p>
        <button class="btn btn--primary js-close">
            <a href="">Ok</a>
        </button>
    </div>
</div>