---
permalink: /
layout: base
title: Homepage
eleventyComputed:
    description: "{{ globals.siteDescription }}"
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hey there, welcome on your Eleventy starter.</h1>